[submodule "vboot"]
	path = 3rdparty/vboot
	url = ../vboot.git
[submodule "3rdparty/fsp"]
	path = 3rdparty/fsp
	url = ../fsp.git
	update = none
	ignore = dirty
[submodule "intel-microcode"]
	path = 3rdparty/intel-microcode
	url = ../intel-microcode.git
	update = none
	ignore = dirty
